<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.invuya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Intent.IkanLeleLaporan"></activity>
        <activity android:name=".Intent.IkanLeleRiwayat2" />
        <activity android:name=".Intent.IkanNilaRiwayat" />
        <activity android:name=".Intent.Home.HomeProyekUpdate2" />
        <activity android:name=".RiwayatFragment3.DalamRiwayat3" />
        <activity android:name=".Intent.CariProyek2.DaftarProyekNilaPembayaran" />
        <activity android:name=".Pembayaran.PembayaranLele" />
        <activity android:name=".Intent.IkanLeleRiwayat" />
        <activity android:name=".RiwayatFragment2.DalamRiwayat2" />
        <activity android:name=".Intent.IkanLeleUpdate2" />
        <activity android:name=".Intent.Home.HomeProyekUpdate" />
        <activity android:name=".Intent.CariProyek2.DaftarProyekNilaTerisi" />
        <activity android:name=".Intent.IkanNilaUpdate" />
        <activity android:name=".KonfirmasiPembayaran.KonfirmasiNila2" />
        <activity android:name=".Intent.IkanNilaKembali" />
        <activity android:name=".Intent.Home.HomePembayaran" />
        <activity android:name=".KonfirmasiPembayaran.KonfirmasiNila" />
        <activity android:name=".Intent.CariProyek2.DaftarProyekLeleTerisi" />
        <activity android:name=".Intent.CariProyek2.DaftarProyek" />
        <activity android:name=".Intent.IkanLeleUpdate" />
        <activity android:name=".Intent.Home.HomeDataDiriFix" />
        <activity
            android:name=".Intent.Profil.ProfilActivity2Intent"
            android:label="@string/kembali" />
        <activity android:name=".Intent.Profil.Profil2" />
        <activity android:name=".Intent.Home.Home2" />
        <activity android:name=".KonfirmasiPembayaran.KonfirmasiLele" />
        <activity android:name=".Pembayaran.PembayaranNila" />
        <activity android:name=".DaftarProyek.IkanMujair" />
        <activity android:name=".DaftarProyek.IkanLele2" />
        <activity android:name=".DaftarProyek.IkanGabus" />
        <activity android:name=".DaftarProyek.IkanMas" />
        <activity android:name=".DaftarProyek.IkanPatin" />
        <activity android:name=".DaftarProyek.IkanNila" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DaftarProyek.IkanLele" />
        <activity android:name=".Home.PembayaranActivity" />
        <activity android:name=".Home.RiwayatActivity" />
        <activity android:name=".Home.CariProyekActivity" />
        <activity android:name=".Profil.InformasiAkun.InfoNoHpActivity" />
        <activity android:name=".Profil.InformasiAkun.InfoKataSandiActivity" />
        <activity android:name=".Profil.InformasiAkun.InfoEmailActivity" />
        <activity android:name=".Profil.HubKamiActivity" />
        <activity android:name=".Profil.JadiMitraActivity" />
        <activity android:name=".Profil.FaqActivity" />
        <activity android:name=".Profil.SyaratActivity" />
        <activity android:name=".Profil.InformasiAkunActivity" />
        <activity android:name=".Profil.DataDiriActivity" />
        <activity android:name=".Home.ProfilActivity" />
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>