<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.invuya">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DaftarProyek.IkanMujair"
            android:label="@string/kembali"
            android:parentActivityName=".Home.CariProyekActivity"
            android:theme="@style/Theme"></activity>
        <activity android:name=".DaftarProyek.IkanLele2"
            android:label="@string/kembali"
            android:parentActivityName=".Home.CariProyekActivity"
            android:theme="@style/Theme"/>
        <activity android:name=".DaftarProyek.IkanGabus"
            android:label="@string/kembali"
            android:parentActivityName=".Home.CariProyekActivity"
            android:theme="@style/Theme"/>
        <activity android:name=".DaftarProyek.IkanMas"
            android:label="@string/kembali"
            android:parentActivityName=".Home.CariProyekActivity"
            android:theme="@style/Theme"/>
        <activity android:name=".DaftarProyek.IkanPatin"
            android:label="@string/kembali"
            android:parentActivityName=".Home.CariProyekActivity"
            android:theme="@style/Theme"/>
        <activity android:name=".DaftarProyek.IkanNila"
            android:label="@string/kembali"
            android:parentActivityName=".Home.CariProyekActivity"
            android:theme="@style/Theme"/>
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DaftarProyek.IkanLele"
            android:label="@string/kembali"
            android:parentActivityName=".Home.CariProyekActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Home.PembayaranActivity"
            android:label="@string/pembayaran"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Home.RiwayatActivity"
            android:label="@string/riwayat"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Home.CariProyekActivity"
            android:label="@string/cariproyek"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.InformasiAkun.InfoNoHpActivity"
            android:label="@string/gantinohp"
            android:parentActivityName=".Profil.InformasiAkunActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.InformasiAkun.InfoKataSandiActivity"
            android:label="@string/gantikatasandi"
            android:parentActivityName=".Profil.InformasiAkunActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.InformasiAkun.InfoEmailActivity"
            android:label="@string/gantiemail"
            android:parentActivityName=".Profil.InformasiAkunActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.HubKamiActivity"
            android:label="@string/hubkami"
            android:parentActivityName=".Home.ProfilActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.JadiMitraActivity"
            android:label="@string/jadimitra"
            android:parentActivityName=".Home.ProfilActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.FaqActivity"
            android:label="@string/faq"
            android:parentActivityName=".Home.ProfilActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.SyaratActivity"
            android:label="@string/syarat"
            android:parentActivityName=".Home.ProfilActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.InformasiAkunActivity"
            android:label="@string/informasiakun"
            android:parentActivityName=".Home.ProfilActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Profil.DataDiriActivity"
            android:label="@string/datadiri"
            android:parentActivityName=".Home.ProfilActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".Home.ProfilActivity"
            android:label="@string/profil"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>